<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="tagsMapper">
	<resultMap id="tagsResultSet" type="tags">
		<result column="TAGS_NO" property="tagsNo"/>
		<result column="TAGS_NAME" property="tagsName"/>
		<result column="TAGS_TYPE" property="tagsType"/>
		<result column="TAGS_ACTIVE" property="tagsActive"/>
	</resultMap>
	<select id="selectTagsAll" resultMap="tagsResultSet">SELECT * FROM TAGS WHERE TAGS_ACTIVE=1 ORDER BY TAGS_NO ASC</select>
	<select id="selectTagsTag" resultMap="tagsResultSet">SELECT * FROM TAGS WHERE TAGS_ACTIVE=1 AND TAGS_TYPE=0 ORDER BY TAGS_NO ASC</select>
	<select id="selectTagsCareer" resultMap="tagsResultSet">SELECT * FROM TAGS WHERE TAGS_ACTIVE=1 AND TAGS_TYPE=1 ORDER BY TAGS_NO ASC</select>
	<select id="getTagsListAll" resultMap="tagsResultSet">SELECT * FROM TAGS ORDER BY TAGS_NO ASC</select>
	<update id="adminRemoveTags" parameterType="_int">UPDATE TAGS SET TAGS_ACTIVE=0 WHERE TAGS_NO=${tagsNo} AND TAGS_ACTIVE=1</update>
	<update id="adminRestoreTags" parameterType="_int">UPDATE TAGS SET TAGS_ACTIVE=1 WHERE TAGS_NO=${tagsNo} AND TAGS_ACTIVE=0</update>
	<insert id="adminAddTags" parameterType="tags">INSERT INTO TAGS VALUES(SEQ_TAGS.NEXTVAL, #{tagsName}, #{tagsType}, #{tagsActive})</insert>
</mapper>